.list ul li{
    list-style-type: none;
    padding-top: 10px;
    border-radius: 5px;
}
li{
   background-color: #505050; 

   border-bottom: #383838 solid 8px;
   color: white;
 
}
ul li {
    text-align: center;
    padding-bottom: 6px;
    cursor: pointer;
    width: 100%;
   
}
 li:hover{
    background-color: yellowgreen;
}
.parent {
    
  display: flex;
  justify-content: center;
 
  background-color: #383838;
  margin-top: 200px;
  height: 100%;
  width: 20%;
  margin-left: 500px;
  border-radius: 10px;;
}
p{
    color: yellow
}
.child{
    text-align: center;
}




